# Compiled Python bytecode
__pycache__/
*.py[cod]

# Log files
*.log

# JetBrains IDE
.idea/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
